.main {
  width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "top top top"
    "times book address";
  @media (max-width: 820px) {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "top"
      "times"
      "book"
      "address";
  }
  &__photo {
    width: 100%;
    height: auto;
    padding-top: 10px;
  }
  &__info {
    padding-bottom: 20px;
  }
  &__top {
    grid-area: top;
  }
  &__times {
    grid-area: times;
  }
  &__book {
    grid-area: book;
  }
  &__address {
    grid-area: address;
  }
}
