.menu {
  width: 800px;
  margin: 0 auto;
  height: fit-content;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 40px auto auto auto 30px auto;
  grid-template-areas:
    "title title"
    "espresso filter"
    "espresso special"
    "iced hot"
    "non non"
    "lemonades water";
  grid-gap: 30px;
  @media (max-width: 820px) {
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: 40px auto auto auto auto auto 30px auto auto;
    grid-template-areas:
      "title"
      "espresso"
      "filter"
      "special"
      "iced"
      "hot"
      "non"
      "lemonades"
      "water";
    grid-gap: 30px;
  }
  &__title {
    width: 100%;
    height: auto;
    padding: 0;
  }
  &__section {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px 0;
    @media (max-width: 820px) {
      width: 80%;
      margin: 0 auto;
    }
    &-title {
      width: 100%;
    }
  }
  &__item {
    width: 80%;
    height: auto;
    padding: 5px 0;
  }
  &__price {
    width: min-content;
    height: auto;
  }
}
.title {
  grid-area: title;
}

.espresso {
  grid-area: espresso;
}

.filter {
  grid-area: filter;
}
.special {
  grid-area: special;
}

.iced {
  grid-area: iced;
}
.hot {
  grid-area: hot;
}
.non {
  grid-area: non;
}
.lemonades {
  grid-area: lemonades;
}
.water {
  grid-area: water;
}
