$headbkg: #f7f9f9; //header background color
$footbkg: #33393f; //footer background color
$unselected-link: #838484; //header nav link not selected

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Oswald", Helvetica, sans-serif;
  font-size: 16px;
}
